---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon';
---

<Layout title='About Us | Apexium Technologies'>
  <section class='min-h-[calc(100vh-68px)] border-b border-border py-14'>
    <div class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='[-webkit-background-clip:text] bg-body-light text-transparent'>
        We are the Pioneers
      </span>
    </div>
    <h1 class='text-4xl font-bold dark:text-white text-black text-center mb-20'>About Us</h1>
    <div class='grid grid-cols-1 gap-2 sm:grid-cols-2 items-center text-center'>
      <h3 class='font-bold text-4xl text-black dark:text-white'>
        We provide you with all the Digital Services that your business need.
      </h3>
      <p class='text-justify font-normal text-1xl' >
        Apexium Technologies, a leading software development company. Our focus on Digital Transformation is reflected in our name, while we maintain our individuality and innovation in every project, be it ideation or solutions. We uphold these values throughout our delivery, from resource onboarding to the quality of our response time.Our expertise in cutting-edge technologies combined with our dedication to customer satisfaction has earned us a reputation as a top provider of custom software solutions. With a focus on collaboration, creativity, and excellence, we bring our clients' visions to life, helping them achieve their goals and make a lasting impact in their industries. Contact us today to learn more about how we can help you harness the power of technology and take your business to the next level.
      </p>
    </div>
  </section>

  <section class='min-h-[calc(100vh-68px)] border-b border-border py-14'>
    <div class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='[-webkit-background-clip:text] bg-body-light text-transparent'>
        What We Can Do For You
      </span>
    </div>
    <h1 class='text-4xl font-bold mb-3 dark:text-white text-black text-center'>Services That We Offer</h1>
    <p class='text-center mb-6'>
      We design our strategies at Apexium Technologies with the aim of enhancing customer engagement, fostering brand loyalty, and ultimately improving customer retention for your business
    </p>
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 text-center'>
      <div>
        <div class='flex justify-center'>
          <Icon name='service1' class='h-48 sm:h-56' />
        </div>
        <h3 class='text-2xl font-bold'>
          <span
            class='[-webkit-background-clip:text] bg-body-light text-transparent'
            >Web Development & Web-XR Experiences</span
          >
        </h3>
      </div>
      <div>
        <div class='flex justify-center'>
          <Icon name='service2' class='h-48 sm:h-56' />
        </div>
        <h3 class='text-2xl font-bold'>
          <span
            class='[-webkit-background-clip:text] bg-body-light text-transparent'
            >Mobile App Development</span
          >
        </h3>
      </div>
      <div>
        <div class='flex justify-center'>
          <Icon name='hero' class='h-48 sm:h-56' />
        </div>
        <h3 class='text-2xl font-bold'>
          <span
            class='[-webkit-background-clip:text] bg-body-light text-transparent'
            >AR & VR Immersive Solutions</span
          >
        </h3>
      </div>
    </div>
  </section>

  <section class='min-h-[calc(100vh-68px)] border-b border-border py-14'>
    <div class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='[-webkit-background-clip:text] bg-body-light text-transparent'>
        Our Key Services
      </span>
    </div>
    <h1 class='text-4xl font-bold mb-6 dark:text-white text-black text-center'> Apexium Technologies is the Right Choice for you</h1>
    <div class='grid grid-cols-1 sm:grid-cols-2 gap-6 mb-10'>
      <div class='bg-light-1 dark:bg-dark-4 py-5 px-8 rounded-lg hover:-translate-y-1 duration-300'>
        <Icon name='mdi:book' class='h-10 w-10 text-main-1 mb-2' />
        <h2 class='text-black dark:text-white font-semibold text-lg mb-2'>Interaction based
          & Immersive Learning</h2>
        <p>We use Immersive Reality to make our interaction-based apps engaging and fun. Using the principle of building muscle memory, these apps help accelerate the learning of the trainee</p>
      </div>
      <div class='bg-light-1 dark:bg-dark-4 py-5 px-8 rounded-lg hover:-translate-y-1 duration-300'>
        <Icon name='mdi:wrench' class='h-10 w-10 text-main-1 mb-2' />
        <h2 class='text-black dark:text-white font-semibold text-lg mb-2'>Realtime Working
          and Tracking</h2>
        <p>We Measure and track your apps progress after development and launch, through a personalized dashboard through various performance parameters</p>
      </div>
      <div class='bg-light-1 dark:bg-dark-4 py-5 px-8 rounded-lg hover:-translate-y-1 duration-300'>
        <Icon name='mdi:head-lightbulb-outline' class='h-10 w-10 text-main-1 mb-2' />
        <h2 class='text-black dark:text-white font-semibold text-lg mb-2'>Affordable Solution</h2>
        <p>In order to help our clients grow their businesses and realize their marketing goals by offering innovative and effective integrated marketing and public relations solutions. In doing so, we will provide consistently successful, unique, and forward-thinking digital marketing solutions that will take into account the individual needs of each client and will be able to give each customer the best possible service.</p>
      </div>
      <div class='bg-light-1 dark:bg-dark-4 py-5 px-8 rounded-lg hover:-translate-y-1 duration-300'>
        <Icon name='mdi:recycle' class='h-10 w-10 text-main-1 mb-2' />
        <h2 class='text-black dark:text-white font-semibold text-lg mb-2'>Safe Process</h2>
        <p>We are supported by an experienced team and ingenious panel of technologists, specialized technicians, developers, and enthusiasts who provide solutions in making the apps and the experiences safe</p>
      </div>
    </div>
  </section>

  <section class='min-h-[calc(100vh-68px)] border-b border-border py-14'>
    <div class='dark:bg-dark-3 px-4 py-1 rounded-lg font-bold w-max mx-auto mb-3'>
      <span class='[-webkit-background-clip:text] bg-body-light text-transparent'>
        Contact Us
      </span>
    </div>
    <h1 class='text-4xl font-bold mb-6 dark:text-white text-black text-center'>
      Apexium Technologies, A one stop Digital solution for all your Business needs .
    </h1>
    <p class='text-justify mb-6'>
      We will turn technology into assets for your business. To empower organizations to develop by utilizing our
      powerful promoting strategies and to convey the greatest measure of fulfillment to our important clients.
    </p>
    <p class='text-justify mb-6'>
      In order to help our clients grow their businesses and realize their marketing goals by offering innovative and
      effective integrated marketing and public relations solutions. In doing so, we will provide consistently
      successful, unique, and forward-thinking digital marketing solutions that will take into account the individual
      needs of each client and will be able to give each customer the best possible service.
    </p>
    <div class='flex justify-center'>
      <a
        href='/contact'
        class='text-white rounded-lg text-lg font-semibold px-8 py-4 bg-body-light box-shadow-1 duration-300'>
        Contact Us &rarr;</a
      >
    </div>
  </section>
</Layout>
