<section class='min-h-[calc(100vh-68px)] flex items-center border-b border-border py-14' id='about'>
  <div class='text-center hide'>
    <h2 class='text-4xl font-bold mb-6'>
      <span class='text-black dark:text-white'>Who</span>
      <span class='[-webkit-background-clip:text] bg-body-light text-transparent'
        >We Are</span
      >
    </h2>
    <p class='text-lg font-medium mb-6'>
      Apexium Technologies is helping industries boost their performance by offering them a chance at gaining traction in the
      digital world through our interactive and immersive solutions.
    </p>
    <h3 class='text-black dark:text-white text-xl font-bold mb-6'>We are revolutionizing the way we visualize</h3>
    <p class='text-lg mb-8'>
      <strong class='font-bold'>Why Apexium Technologies?</strong> As a full-service AR and VR apps development company, and expert
      in mobile and web apps development and Data Solutions, we bring ideas to life through cutting-edge solutions. Our team of skilled developers, Data Analysts,
      and AR/VR experts works closely with clients to understand their unique needs and create custom, user-friendly applications
      that drive results. From concept to launch, we're committed to delivering innovative, high-quality products that drive
      success in the ever-evolving tech landscape. Let us help you bring your vision to reality.
    </p>
    <a
      href='/'
      class='text-white rounded-lg text-lg font-semibold px-6 py-3 bg-body-light box-shadow-1 duration-300'>
      More About Us</a
    >
  </div>
</section>
